@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');

// Variables
$black: #000;
$white: #fff;
$background: #f0eeeb;
$background-light: #faf8f6;
$heading: #292929;
$base-text: #5a5444;
$light-text: #9e9e9e;
$placeholder: #adadad;
$input-stroke: #b1b1b1;

// Defaults
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: $base-text;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

h2 {
    margin: 0;
    font-size: 2.25rem;
    color: $heading;
    font-family: 'Cabin', sans-serif;
}

input {
    border-radius: 5px;
    padding: 1em;
    font-size: 1.125rem;
    font-family: 'Cabin', sans-serif;
}

// Utilities
.container {
    width: 90%;
    margin: 0 auto;
}

.highlight {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-to-action {
    background: $black;
    color: $white;
    width: 50% !important;
    cursor: pointer;

    border-radius: 5px;
    text-align: center;
    font-weight: 700;

    &:hover,
    &:focus {
        background: $heading;
    }
}

.learn-more {
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $light-text;
    }
}

// Header
header {
    color: $black;

    .discount {
        text-align: center;
        background: $black;
        color: $white;
        padding: 1em 0;

        p {
            margin: 0;
        }
    }

    .logo {
        font-family: 'Cabin', sans-serif;
    }

    nav {
        background: $background;
        padding: 1.5em 0;
        position: relative;
        .container {
            .logo {
                font-weight: 700;
                font-size: 1.25rem;
            }

            .dropdown {
                cursor: pointer;
            }
        }

        #nav-actions {
            background: $background-light;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 100%;
            left: 0;
            padding-bottom: 1em;

            li {
                a {
                    width: 100%;
                    padding: 0.75em 0;
                }
            }

            .main-links a:hover,
            .main-links a:focus,
            .auth-links li:first-child a:hover,
            .auth-links li:first-child a:focus {
                background: $background;
            }

            .call-to-action {
                margin-top: 1em;
            }
        }
    }
}

// Hero
section#hero {
    background: $background;
    padding: 1em 0;

    .hero__text {
        margin-top: 2em;

        li {
            background: url('../Assets/Checkmark.svg') no-repeat left center;
            padding: 0.25em 0 0.25em 2em;
            font-weight: 600;
        }

        form#registration {
            margin: 1.5em 0;
            display: flex;

            #email {
                width: 75%;
                border: 1px $input-stroke solid;
            }

            .call-to-action {
                margin-left: 1em;
                border: none;
            }
        }
    }
}

// Brands
.brands {
    margin: 2.5em 0;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .brand + .brand {
            margin-left: 1em;
        }
    }
}

// Feature (secure)
#feature--secure {
    background: $background;
    padding-top: 2em;
    border-radius: 10px;
    .container {
        width: 78%;
    }
}
